
.split-pane {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .split-pane-top,
  .split-pane-bottom,
  .split-pane-left,
  .split-pane-right {
    flex: 1;
  }
  .separator {
    width: 0.6em;
    cursor: row-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover .separator-item:not(.dragging){
      opacity: 1;
    }
  }
  .separator-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25em;
    background-color: #ebd9d9;
    opacity: 0.5;
    width: 0.1975em;
    height: 1.875em;
    transition: 0.2s ease ;
  }